//
// *** Index
//

head
  base( href="/" )
  
  meta( charset="utf-8" )
  meta( name="viewport" content="width=device-width, initial-scale=1.0" )
  
  title seed v0.1.0

body
  div( toastr )
  div.full-height( ng-controller="global", ui-view )
