//
// *** Main css
//

// Full height for some elements
html, body, div.full-height {
  height: 100%;
}

// Font
body {
  font-family: 'Open Sans', sans-serif;
}

// Anything that needs to show as the hand cursor
.selectable {
  cursor: pointer;
}

// Wells
.well {
  background: #fff;
  box-shadow: none;
  border: 1px solid #ECECEC;
  border-radius: 1px;
}
