//
// *** Main dashboard view
//

.dashboard.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .float-e-margins.animated.fadeInRight
        .content.text-center.p-md
          h2 
            span.text-navy Angular-Meteor Seed
            |  is going to make you so damn productive that faces will be melted.
